.form {
    --input-bg: #FFf;
    --padding: 1.5em;
    --rotate: 80deg;
    --gap: 2em;
    --icon-change-color: #15A986;
    --height: 36px;
    width: 300px;
    padding-inline-end: 1em;
    background: var(--input-bg);
    position: relative;
    border-radius: 4px;
  }
  
  .form label {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--height);  }
  
  .form input {
    width: 100%;
    padding-inline-start: calc(var(--padding) + var(--gap));
    outline: none;
    background: none;
    border: 0;
  }
  
  .form svg {
    color: #111;
    transition: 0.3s cubic-bezier(.4, 0, .2, 1);
    position: absolute;
    height: 15px;
  }
  
  .icon {
    position: absolute;
    left: var(--padding);
    transition: 0.3s cubic-bezier(.4, 0, .2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swap-off {
    transform: rotate(-80deg);
    opacity: 0;
    visibility: hidden;
  }
  
  .closebtn {
    background: none;
    border: none;
    right: calc(var(--padding) - var(--gap));
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
  }
  
  .form input:focus~.icon {
    transform: rotate(var(--rotate)) scale(1.3);
  }
  
  .form input:focus~.icon .swap-off {
    opacity: 1;
    transform: rotate(-80deg);
    visibility: visible;
    color: var(--icon-change-color);
  }
  
  .form input:focus~.icon .swap-on {
    opacity: 0;
    visibility: visible;
  }
  
  .form input:valid~.icon {
    transform: scale(1.3) rotate(var(--rotate))
  }
  
  .form input:valid~.icon .swap-off {
    opacity: 1;
    visibility: visible;
    color: var(--icon-change-color);
  }
  
  .form input:valid~.icon .swap-on {
    opacity: 0;
    visibility: visible;
  }
  
  .form input:valid~.closebtn {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: 0s;
  }

  .searchWrapper {
    position: relative;
    width: 100%;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
}

.dropdownItem img {
  height: 30px;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}