.view {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-top: 70px;
}

.ul {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    gap: 12px;
}

.li {
    list-style: none;
    margin: 6px;
}