.row {
    width: 100VW;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-size: 36px;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    padding: 18px;
}

.google {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 8px 0px;
    border: 1px solid black;
    width: 260px;
    cursor: pointer;
}


.google:hover {
    background-color: #dddddd;
}

.esqueceuSenha {
    color: rgb(1, 0, 51);
    text-decoration: none;
    font-size: 14px;
}

.esqueceuSenha:hover {
    color: #4f9afb;
    text-decoration: underline;
}

.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    margin: 0px;
}

.cadastro a {
    color: rgb(113, 3, 238);
    text-decoration: none;
    font-weight: bold;
    
}
