.row {
    width: 100VW;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #d4bde9;
}

.titulo {
    font-size: 36px;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 100%;
    width: 34vw;
    background-color: #ffffff;
    border: #ffffff 3px solid;
    border-left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.formColor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 100%;
    width: 34vw;
    background-color: blueviolet;
    border: #8A2BE2 3px solid;
    border-right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    height: 84vh;

}

.google {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 8px 0px;
    border: 1px solid black;
    width: 260px;
    cursor: pointer;
}


.google:hover {
    background-color: #dddddd;
}

.esqueceuSenha {
    color: rgb(1, 0, 51);
    text-decoration: none;
    font-size: 14px;
}

.esqueceuSenha:hover {
    color: #4f9afb;
    text-decoration: underline;
}

.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    margin: 0px;
    gap: 3px;
}

.cadastro a {
    color: rgb(113, 3, 238);
    text-decoration: none;
    font-weight: bold;
    
}

