.box{
    box-shadow: 1px 1px 10px rgb(202, 202, 202) ; 
    border-radius: 12px;
    width: 154px;
    padding: 0px 8px;
    transition: all 0.2s;
    background-color: white;
}

.box:hover{
        box-shadow: 0px 0px 20px #8B45CC ;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top img {
    border-radius: 50%;
    width: 100px;
    margin-top: 8px;
}

.top p {
    text-align: center;
    font-weight: 600;
    margin: 14px 0px;
    height: 30px;
}

.info{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.info p{
    font-size: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.row img{
    width: 20px;
    height: 20px;
}