.box{
    background-color: #ebebeb;
    border-radius: 12px;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#ebebeb;
}

.bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #e0e0e0;
    justify-content: space-around;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.row img{
    width: 20px;
    height: 20px;
}
.info{
    display: flex;
    flex-direction: row;
    width: 150px;
}