a {
    margin: 0px;
    text-decoration: none;
    color: black;
}
    
    .card{
        box-shadow: 1px 1px 10px grey ;
        display: flex;
        flex-direction: column;
        padding: 6px 10px;
        border-radius: 10px;
        width: 280px;
    }
    
    .backgroundImg {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 56px;
        width: 56px;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 14px;
    }
    
    .row p{
        font-size: 30px;
        font-weight: 500;
        margin: 9px;
    }
    
    .row img{
        width: 44px;
        height: 44px;
        object-fit:contain;
    }
    
    .ul {
        list-style: none;
        display: flex;
        justify-content: flex-start;
       flex-direction: column;
        padding: 6px 10px;
        gap: 10px;
    }
    
    .ul li{
        display: flex;
        flex-direction: column;


    }
