.start{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;  
    gap: 40px;
    padding: 0px 10px 0px 14px;
    background-color: rgb(206, 206, 206);
}

.start a {
    padding-top: 30px;
    font-size: 34px;
    text-decoration: none;
}

.lista{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.item{
 display: flex;
 align-items: center;
 border-radius: 6px;
}

.item a {
    text-decoration: none;
    width: 18vw;
    font-size: 19px;
    color: black;
    padding: 8px 4px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.item svg{
    width: 26px;
    height: 26px;
}

.item:hover {
    cursor: pointer;
    background-color: rgb(243, 243, 243);
}