.sportUl {
    background-color: #8B45CC;
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.sportLi {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 110px;
}  

.sportLi a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
    text-decoration: none;
    margin: 5.5px 10px ;
}

.sportLi  a p {
    color: white;
    margin: 0px;
    font-weight: 300;
}

.sportLi a svg {
    color: #f3f3f3;
    width: 25px;
    height: 25px;
}

.sportLi:hover {
    background-color: #5a1a96;
}

.active {
    background-color:#8B45CC;
    border-bottom: rgb(255, 0, 0) solid 4px;
    border-top:#8B45CC solid 4px;
}

.active:hover {
    background-color:#8B45CC;
}